In [ ]:
6. Create a list(friend_names) with your friends names(atleaste 10 names)?
print all names with in loop 
Expected Output: my friend name is "ravi"
		     my friend name is "shanker"

In [28]:
friend_name=["mamatha","meghana","siromani","pavani","ganga","bhavani","sravani","bhargavi","chandrika","sujatha"]
for p in friend_name:
    print("my friend name is",p)

my friend name is mamatha
my friend name is meghana
my friend name is siromani
my friend name is pavani
my friend name is ganga
my friend name is bhavani
my friend name is sravani
my friend name is bhargavi
my friend name is chandrika
my friend name is sujatha

In [ ]:
7. Create a list(family_members) with your family members names(atleaste 10 names)?
print all names with in loop

In [4]:
family_members=["gopal","veeraswami","venkateswaramma","srinivasarao","sujatha","sravani","chitra","narasamma","papamma","subbarao","anitha"]
for s in family_members:
    print("my family member",s)

my family member gopal
my family member veeraswami
my family member venkateswaramma
my family member srinivasarao
my family member sujatha
my family member sravani
my family member chitra
my family member narasamma
my family member papamma
my family member subbarao
my family member anitha

In [ ]:
8. Create a list(food_names) with your favorite food names(atleaste 10 names only veg)?
print all names with in loop

In [3]:
food_names=["lemonrice","vegtablerice","brinjalcurry","tamotorice","zeerarice","potatocurry","ladies finger fry"]
for d in food_names:
    print("my favorite food name is",d)

my favorite food name is lemonrice
my favorite food name is vegtablerice
my favorite food name is brinjalcurry
my favorite food name is tamotorice
my favorite food name is zeerarice
my favorite food name is potatocurry
my favorite food name is ladies finger fry

In [ ]:
9. Create a tuple(food_names) with your favorite food names(atleaste 10 names only nonveg)?
print all names with in loop

In [2]:
food_names=("chiken curry","chiken fry","chiken biriyani","chiken fry biriyani","fish curry","fishfry","egg curry","egg fried rice","chiken fried rice")
for g in food_names:
    print("my favorite food name is",g)

my favorite food name is chiken curry
my favorite food name is chiken fry
my favorite food name is chiken biriyani
my favorite food name is chiken fry biriyani
my favorite food name is fish curry
my favorite food name is fishfry
my favorite food name is egg curry
my favorite food name is egg fried rice
my favorite food name is chiken fried rice

In [ ]:
10. Create a set(colour_names) with your colour names(atleaste 10 names)?
print all names with in loop

In [1]:
colour_names={"red","blue","green","yellow","pink","black","white","orange","skyblue","purple"}
for c in colour_names:
    print("colour name is",c)

colour name is green
colour name is white
colour name is yellow
colour name is purple
colour name is pink
colour name is blue
colour name is black
colour name is skyblue
colour name is orange
colour name is red

In [ ]:
11. Create a list(month_names) with your month names(atleaste 10 names)?
print all names with in loop

In [5]:
month_names=("january","february","march","april","may","june","july","august","september","october","november","december")
for m in month_names:
    print("month name is",m)

month name is january
month name is february
month name is march
month name is april
month name is may
month name is june
month name is july
month name is august
month name is september
month name is october
month name is november
month name is december

In [ ]:
12. print 9th table (1 to 90)

In [26]:
range(1,90,9)
for p in range(0,91,9):
    print(p)

0
9
18
27
36
45
54
63
72
81
90

In [ ]:
13. print(12th table (1 to 120)

In [27]:
range(1,120,12)
for p in range(0,121,12):
    print(p)

0
12
24
36
48
60
72
84
96
108
120